---
layout: default
ref: index
lang: euskera
---

{% include header_euskera.html %}

<section class="hero hero--welcome">
  <div class="hero__content">
    <h1 class="hero__title">
      Porno Eskola pornografiari buruzko gida didaktikoa da eta bere helburua heziketa sexualerako tresna izatea da.
    </h1>
  </div>
  <div class="icon-scroll"><div/>
</section>
<section class="section section--row">
  <h2 class="section__title">
    {{ site.faq[page.lang] }}
  </h2>
  <div class="section-two section-two--accordion">
    <div class="section-two__box">
      <!-- faq acordion -->
      <div class="faq-accordion">
        <button class="faq-accordion__question">
          {{ site.question-1[page.lang] }}
        </button>
        <div class="faq-accordion__result">
          <p>
            {{ site.response-1[page.lang] }}
          </p>
        </div>
        <button class="faq-accordion__question">
          {{ site.question-2[page.lang] }}
        </button>
        <div class="faq-accordion__result">
          <p>
            {{ site.response-2[page.lang] }}
          </p>
        </div>
        <button class="faq-accordion__question">
          {{ site.question-3[page.lang] }}
        </button>
        <div class="faq-accordion__result">
          <p>
            {{ site.response-3[page.lang] }}
          </p>
        </div>
        <button class="faq-accordion__question">
          {{ site.question-4[page.lang] }}
        </button>
        <div class="faq-accordion__result">
          <p>
            {{ site.response-4[page.lang] }}
          </p>
        </div>
        <button class="faq-accordion__question">
          {{ site.question-5[page.lang] }}
        </button>
        <div class="faq-accordion__result">
          <p>
            {{ site.response-5[page.lang] }}
          </p>
        </div>
      </div>
      <!-- faq acordion -->
    </div>
    <div class="section-two__box">
      <img src="/assets/img/question.jpg" class="question__img">
    </div>
  </div>
</section>

<section class="section section--row featured">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  <div class="featured__box">
    <a class="featured__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    <div class="featured__subtitle">{{ post.didactica }}</div>
    <h2 class="featured__title">
      {{ post.title }}
    </h2>
    <p class="featured__p-link">Unitatea ikuzi</p>
  </div>
  {% endfor %}
</section>