$faq-accordion-question-border: 1px solid #f0f0f0;

.section-two--accordion {
  padding: 5rem 0;
}

.faq-accordion {
  width: 100%;
  padding: 0;

  .faq-accordion__question:first-child {
    border-top: $faq-accordion-question-border;
  }
}

.faq-accordion__question {
  @extend .typo-lato-bold;
  @extend .t;

  background: white;
  border: none;
  color: $color-corporative;
  cursor: pointer;
  padding: 1.25rem 0;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: #f0f0f0;
  }
}

.faq-accordion__question.active, 
.accordion:hover {
    background: #f0f0f0; // revise
}

.faq-accordion__question:after {
  font-size: 2rem;
  content: '\002B';
  color: $color-corporative;
  font-weight: bold;
  flex: 0 1 25px;
  margin: 0 5px 0 45px;
}

.faq-accordion__question.active:after {
  content: "\2212";
}

.faq-accordion__result {
  border-bottom: $faq-accordion-question-border;
  padding: 0 1rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  p {
    @extend .typo-lato-regular;

    color: $color-gray;
    padding: 2rem 0;
    font-size: 1.15rem;
    line-height: 1.75rem;

    a {
      color: $color-corporative;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.question__img {
  width: 80%;
  margin: 2rem auto;
  display: block;
}

@media only screen and (min-width: $size-large) {
  .faq-accordion__question {
    padding: 1.25rem 2rem;
  }
}