$featured-height: 700px;
$featured-height-big: $featured-height;
$featured-height-medium: calc( #{$featured-height} / 2);
$featured-height-small: $featured-height-medium;

.featured {
  display: flex;
  flex-flow: row wrap;
}

.featured__box {
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
}

.featured__box--big {
  background: $color-cat1;
  height: $featured-height-big;
}

.featured__box--medium {
  background: $color-cat2;
  flex: 1 1 50%;
  height: $featured-height-medium;
}

.featured__box--small {
  background: $color-cat3;
  flex: 1 1 25%;
  height: $featured-height-small;
}

.featured__box--small-2 {
  background: $color-cat4;  
}

.featured__subtitle {
  color: $color-black;
  opacity: .4;
  text-transform: uppercase;
}

.featured__title {
  @extend .typo-dosis-bold;
  
  color: $color-white;
  font-size: 2rem;
  line-height: 2rem;
}