.title-section {
  text-align: center;
}

.title-section__subtitle {
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  color: $color-gray;
}

.title-section__title {
  @extend .typo-dosis-bold;

  background: $color-corporative;
  color: $color-white;
  font-size: 2rem;
  padding: 1rem 0;
  line-height: 2rem;
}

@media only screen and (min-width: $size-large) {
  .title-section__title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .title-section__subtitle {
    font-size: 1.75rem;
  }
}