<footer class="footer">
  <div class="footer__partners">
    <div class="footer__box">
      <h3 class="footer__title">
        {{ site.thanks[page.lang] }}
      </h3>
      <div class="footer__link-partners">
        <a href="https://www.vitoria-gasteiz.org" target="_blank" class="footer__partner footer__partner--ayuntamiento"></a>
        <a href="http://www.vitoria-gasteiz.org/we001/was/we001Action.do?idioma=es&aplicacion=wb021&tabla=contenido&uid=u1999f8b8_13d3e270988__7fb0" target="_blank" class="footer__partner footer__partner--haziak"></a>
      </div>
    </div>
    <div class="footer__box footer__box--rrss">
      <h3 class="footer__title">
        {{ site.rrss[page.lang] }}
      </h3>
      <a href="http://twitter.com/pornoeskola" target="_blank" class="footer__rrss footer__rrss--twitter">twitter</a>
      <a href="https://www.facebook.com/Porno-Eskola-348610592251267/?fref=ts" class="footer__rrss footer__rrss--facebook">facebook</a>
      <a href="http://instagram.com/prnoeskola" target="_blank" class="footer__rrss footer__rrss--instagram">instagram</a>
    </div>
  </div>
  <div class="footer__credits">
    <p class="footer__bigcredits">
      {{ site.credits[page.lang] }}
    </p>
    <p class="footer__smallcredits">
      {{ site.credits-sub[page.lang] }}
    </p>
  </div>
</footer>

<!-- js -->
<script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>

</footer>
