<header class="header">
  <div class="header__box">
    <a class="header__logo" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>
  </div>
  <div class="header__box language-nav language-nav--eus nav--{{ page.cat_template }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
  </div>
</header>