// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// Breakpoints

$size-medium: 768px;
$size-large: 1024px;
$size-xlarge: 1280px;
$size-xxlarge: 1440px;
$size-xxxlarge: 1680px;

// MQ @ mobile first

$breakpoints-medium: "only screen and (min-width: $size-medium)";
$breakpoints-large: "only screen and (min-width: $size-large))";
$breakpoints-xlarge: "only screen and (min-width: $size-xlarge))";
$breakpoints-xxlarge: "only screen and (min-width: $size-xxlarge))";
$breakpoints-xxxlarge: "only screen and (min-width: $size-xxxlarge))";

// @media #{$breakpoints-large} {}

