// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// http://chir.ag/projects/name-that-color/
//
// Use the above URL to obtain the name of the hexadecimals,
// and please, try to order from higher hex value to lower
// hex value.

// basic

$color-white: #fff;
$color-black: #000;
$color-gray: #999;

// colors corporative

$color-amaranth: #ec3d5e;
$color-pacific-blue: #00aec8;
$color-carissma: #e68cb0; // pink 
$color-persian-green: #00af88;

// corporative (revise "../base/common")"

$color-corporative: $color-amaranth; 
$color-text: $color-black; 
$body-background: $color-white; 

// Category

$color-cat1: #F44336;
$color-cat2: #00BCD4;
$color-cat3: #009688;
$color-cat4: #9C27B0;