// basic fonts

$font-family-lato: 'Lato', sans-serif;
$font-family-dosis: 'Dosis', sans-serif;

// Lato

.typo-lato-regular {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: 400;
}

.typo-lato-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: 700;
}

.typo-lato-black {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: 900;
}

// Dosis

.typo-dosis-bold {
  font-family: $font-family-dosis;
  font-style: normal;
  font-weight: 700;
}