.hero {
  align-items: flex-end;
  background: $color-corporative;
  display: flex;
  height: 80vh;
  position: relative;
  width: 100%;
}

.hero__content {
  flex: 0 1 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.hero__title {
  @extend .flash;
  @extend .typo-dosis-bold;

  color: $color-white;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.hero__description {
  @extend .flash_2;
  color: $color-black;
  font-size: 1.75rem;
  line-height: 1.75rem;
  opacity: .4;
  padding-top: 2rem;
}

.hero__didactica {
  @extend .flash_2;
  @extend .typo-lato-bold;

  padding-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-black;
  opacity: .4;
}

.hero__download {
  border-top: 4px solid #f0f0f0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 50;
  background: white;
}

.hero__paragraph {
  color: $color-white;
  font-size: 0.85rem;
  padding-top: 1rem;
  display: none;
}

.hero__btn-download {
  @extend .t;
  @extend .typo-lato-bold;

  text-align: center;
  background: $color-corporative;
  box-sizing: border-box;
  color: $color-white !important;
  display: block;
  padding: 2rem 0;

  &:hover {
    background: $color-white;
    color: $color-corporative !important;
    text-decoration: none;
  }
}

@media only screen and (min-width: $size-medium) {
  .hero__title {
    font-size: 2.66rem;
    line-height: 2.65rem;
  }
}

@media only screen and (min-width: $size-large) {
  .hero {
    align-items: center;
    height: 100vh;
  }

  .hero__content {
    flex: 0 1 70%;
    text-align: center;
  }

  .hero__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero__download {
    background: transparent;
    border-top: 0;
    bottom: 2rem;
    left: auto;
    position: absolute;
    right: 5%;
    width: auto;
  }

  .hero__paragraph {
    display: block;
  }

  .hero__btn-download {
    border: 4px solid $color-white;
    color: $color-white !important; // revise
    display: inline-block;
    padding: 1.25rem 2rem;
  }
}

@media only screen and (min-width: $size-xlarge) {
  .hero__title {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}

@media only screen and (min-width: $size-xxlarge) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}