.hero {
  align-items: flex-end;
  background: $color-corporative;
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
}

.hero__content {
  flex: 0 1 90%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.hero__title {
  @extend .flash;
  @extend .typo-dosis-bold;

  color: $color-white;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.hero__description {
  @extend .flash_2;
  color: $color-black;
  font-size: 1.75rem;
  line-height: 1.75rem;
  opacity: .4;
  padding-top: 2rem;
}

.hero__didactica {
  @extend .flash_2;
  @extend .typo-lato-bold;

  padding-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-black;
  opacity: .4;
}

@media only screen and (min-width: $size-medium) {
  .hero__title {
    font-size: 2.66rem;
    line-height: 2.65rem;
  }
}

@media only screen and (min-width: $size-large) {
  .hero {
    align-items: center;
  }

  .hero__content {
    flex: 0 1 70%;
    text-align: center;
  }

  .hero__title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media only screen and (min-width: $size-xlarge) {
  .hero__title {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
}

@media only screen and (min-width: $size-xxlarge) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}