.post__content {
  p {
    color: $color-gray;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: .5rem 0;
  }
}

.post__subtitle {
  @extend .typo-dosis-bold;

  color: $color-corporative;
  font-size: 2rem;
  padding: 2rem 0;
}

.objetivos {
  margin-left: 1rem;

  li {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $color-corporative;
  }
}

// category 

.post--cat_1 {
  .hero,
  .title-section__title,
  .hero__btn-download {
    background: $color-cat1;
  }
  .post__subtitle,
  .objetivos li {
    color: $color-cat1;
  }
}

.post--cat_2 {
  .hero,
  .title-section__title,
  .hero__btn-download {
    background: $color-cat2;
  }
  .post__subtitle,
  .objetivos li {
    color: $color-cat2;
  }
}

.post--cat_3 {
  .hero,
  .title-section__title,
  .hero__btn-download {
    background: $color-cat3;
  }
  .post__subtitle,
  .objetivos li {
    color: $color-cat3;
  }
}

.post--cat_4 {
  .hero,
  .title-section__title,
  .hero__btn-download {
    background: $color-cat4;
  }
  .post__subtitle,
  .objetivos li {
    color: $color-cat4;
  }
}