---
layout: default
---
{% include header_castellano.html %}

<article class="post post--{{ page.cat_template }}" itemscope itemtype="http://schema.org/BlogPosting">

  <section class="hero hero--welcome">
    <div class="hero__content">
      <div class="hero__didactica">
        {{ page.didactica }}
      </div>
      <h1 class="hero__title">
        {{ page.title }}
      </h1>
      <p class="hero__description">
        {{ page.subtitle }}
      </p>
    </div>
    <div class="hero__download">
      <a href="{{ page.download_pdf }}" class="hero__btn-download">
        Descargar PDF
        {% include icon-down.html %}
      </a>
      <p class="hero__paragraph">Aquí puedes descargarte los ejercicios prácticos</p>
    </div>
  </section>
  <section class="section section--row" itemprop="articleBody">
    {{ content }}
  </div>

</article>

