<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <!-- webfont -->
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <body>

    <div class="home">
      <p class="home__img">
        <img src="{{ site.baseurl }}/assets/images/welcome.png"/>
      </p>
      <h1 class="home_title">
        PORNOESKOLA.
      </h1>
      <p class="home_description">
        Muy pronto
      </p>
    </div>

      <footer>
          Creative Commons (by-sa) @ {{ site.time | date: '%Y' }}. pornoeskola@gmail.com
      </footer>
    </div>
  </body>
</html>
